# Groq API Configuration
GROQ_API_KEY=gsk_JGKo5hnkV8s9...
GROQ_API_KEY2=gsk_b4IlhtgAiD7...

# Fallback Settings
ENABLE_OFFLINE_FALLBACK=true
API_TIMEOUT_SECONDS=10

# MongoDB Atlas
MONGODB_URI=mongodb+sr...

# Google OAuth
GOOGLE_CLIENT_ID=102...
GOOGLE_CLIENT_SECRET=GOC...

# JWT Configuration
JWT_SECRET_KEY=dee...
JWT_ALGORITHM=HS256
JWT_EXPIRY_HOURS=168

# Admin Configuration (Replace with your actual Gmail)
ADMIN_EMAILS=email@something.com

# CORS
FRONTEND_URL=http://localhost:5173



# Qdrant Configuration
QDRANT_HOST=https://7904c3ec-8...
QDRANT_API_KEY=eyJhbG...
QDRANT_DIM=384

#TOOLS
CALLEDRIFIC_API_KEY=9PHPS..

LITEAPI_KEY=prod_a6...

# Kaggle API Key
KAGGLE_USERNAME=name
KAGGLE_KEY=KG...